.personal-information__item-status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.status__text {
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
    outline: none;
    color: black;
}

.status__input {
    color: white;
    background-color: black;
    box-shadow: 0 0 10px black;
    border: 0;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}