.dialog__wrapper {
    width: 89%;
}

.dialog__background {
    padding: 10px 30px 30px;
    background-color: #F8F8F8;
    height: 400px;
    overflow: auto;
}

.dialog__message {
    color: black;
    background-color: white;
    display: inline-block;
    margin: 0 0 25px;
    padding: 10px;
    font-size: 13px;
}

.dialog__user-name {
    margin: 0 0 5px;
    font-weight: bolder;
    font-size: 14px;
}