.users-list {
    margin: 10px 0;
}

.user {
    display: flex;
    margin-bottom: 10px;
}

.user__avatar-container {
    position: relative;
    width: 200px;
    height: 210px;
}

.user__avatar {
    width: 100%;
    height: 100%;
}

.user__unfollow-btn,
.user__follow-btn,
.user__unfollow-btn-disable,
.user__follow-btn-disable {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    opacity: 0.7;
    background-color: transparent;
    text-align: center;
    color: #ff4c51;
    user-select: none;
    transition: 0.3s;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.user__unfollow-btn-disable,
.user__follow-btn-disable {
    background-color: yellow;
    opacity: 1;
    color: #e2001c;
    pointer-events: none;
}

.user__follow-btn {
    color: lightgreen;
}

.user__avatar-container:hover .user__unfollow-btn,
.user__avatar-container:hover .user__follow-btn {
    opacity: 1;
}

.user__unfollow-btn:active {
    background-color: #ff4c51;
    color: white;
}

.user__follow-btn:active {
    background-color: lightgreen;
    color: white;
}

.user__description {
    margin-left: 10px;
}

.user__description-item {
    margin: 5px 0;
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.user__description-item-status {
    margin: 5px 0;
    background-color: black;
    padding: 10px;
    text-align: center;
    display: inline-block;
}


