.new-post {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.new-post__text-area {
  resize: none;
  padding: 15px;
  font-size: 22px;
  outline: none;
  background-color: black;
  border: 0;
  color: white;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}

.btn__new-post {
  padding: 10px;
  background-color: black;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
}

.btn__new-post:hover {
  box-shadow: 0 0 10px black;
}

.btn__new-post:active {
  box-shadow: 0 0 10px #20d419;
  background-color: #20d419;
}

.posts-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}