.header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #142668;
    z-index: -1;
}

.header {
    grid-area: header;
    background: #142668;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__sign {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    line-height: 30px;
}

.header__sign-link {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    box-sizing: border-box;
}

.header__sign-link:hover {
    border-bottom: 1px solid white;
}

.header__user-auth {
    display: flex;
    align-items: center;
}

.header__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.header__sign-link-sign-up {
    background-color: white;
    color: #142668;
    padding: 10px 15px;
    margin-left: 30px;
    box-sizing: border-box;
    border: 1px solid white;
}

.header__sign-link-sign-up:hover {
    background-color: #142668;;
    color: white;
    border-bottom: 1px solid transparent;
    border: 1px solid white;
}