.main__img {
    height: 200px;
    width: 100%;
}

.avatar {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 225px;
    margin-right: 20px;
}

.avatar__img {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 15px;
}

.description {
    margin: -112px 0 100px 0;
    padding: 0 70px 50px 70px;
    background-color: #F8F8F8;
}

.description__wrapper {
    display: flex;
    align-items: center;
}

.personal-information {
    width: 100%;
}

.personal-information__name {
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    margin: 0;
}

.personal-information__edit-btn {
    margin-left: auto;
    width: 136px;
    height: 30px;
    font-size: 12px;
    background-color: white;
}

.personal-information__items-presents {
    display: flex;
}

.personal-information__load-photo-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.personal-information__load-photo-lable {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    font-size: 13px;
    border-bottom: 1px solid transparent;
}

.personal-information__loking-for-job,
.personal-information__item-not-loking-for-job {
    color: #1DD100;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.personal-information__item-not-loking-for-job {
    color: #D10000;
}

.personal-information__job-wrapper {
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.personal-information__item-skills,
.personal-information__item-skills-sign {
    display: inline-block;
    margin: 0;
    font-size: 15px;
    color: #777777;
}

.personal-information__item-skills {
    color: black;
}

.personal-information__links-posts-wrapper {
    display: flex;
}

.personal-information__about-me {
    max-width: 400px;
    min-height: 100px;
    background-color: white;
    margin: 0;
    padding: 20px;
    font-size: 13px;
    box-sizing: border-box;
}

.personal-information__about-me-sign,
.personal-information__items-list-contacts-sign {
    margin: 0 0 20px 0;
    color: #CDCDCD;
    font-size: 16px;
}

.personal-information__items-list-contacts {
    margin: 20px 0 0 0;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
}

.personal-information__bold-text {
    display: inline-block;
    font-size: 13px;
    color: #252525;
    margin: 0;
}

.personal-information__item-present {
    color: #777777;
    margin-bottom: 15px;
}

/* Style for form */

.personal-information__form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 520px;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.personal-information__form-wrapper {
    background-color: white;
    z-index: 10;
    padding: 55px 100px;
    box-sizing: border-box;
}

.personal-information__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 320px;
    padding-bottom: 120px;
    background-color: white;
    opacity: 0.9;
}

.personal-information__input {
    width: 370px;
    height: 40px;
    font-size: 12px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
}

.personal-information__form-label {
    font-size: 14px;
    margin-bottom: 15px;
}

.personal-information__input {
    margin-bottom: 20px;
}

.personal-information__text-area {
    width: 370px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
    padding: 15px;
    margin-bottom: 20px;
}

.personal-information__save-btn {
    width: 100%;
    height: 50px;
    background-color: #142668;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.personal-information__save-btn:hover {
    width: 100%;
    height: 50px;
    background-color: white;
    color: #142668;
    border: 1px solid #142668;
}

.personal-information__checbox {
    display: none;
}

.personal-information__form-label--not-checked,
.personal-information__form-label--checked {
    margin-left: 25px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.personal-information__form-label--not-checked::before,
.personal-information__form-label--checked::before {
    position: absolute;
    content: "";
    top: 0;
    left: -23px;
    height: 15px;
    width: 15px;
    border: 1px solid #D2D2D2;
    background-color: white;
}

.personal-information__form-label--checked::after {
    position: absolute;
    content: "";
    top: 4.5px;
    left: -19px;
    height: 8px;
    width: 8px;
    background-color: #142668;
}

/* .main__img {
  width: 101%;
  height: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  color: black;
}

.avatar__img {
  width: 200px;
  height: 215px;
}

.personal-information {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.personal-information__item,
.personal-information__item-present,
.personal-information__item-absent {
  padding: 3px;
  margin: 0 5px 5px 0px;
  color: white;
}

.personal-information__name {
  font-size: 25px;
  text-transform: uppercase;
  background-color: black;
  padding: 10px;
  box-shadow: 0 0 10px black;
}

.personal-information__about-me {
  color: black;
  max-width: 500px;
}

.personal-information__items-list-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  background-color: black;
  padding: 15px;
  box-shadow: 0 0 10px black;
}

.personal-information__items-presents {
  display: flex;
  align-items: center;
  color: black;
}

.personal-information__bold-text {
  color: white;
}

.personal-information__item-loking-for-job {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description__wrapper {
  display: flex;
  flex-direction: row;
}

.personal-information__load-photo-btn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.personal-information__load-photo-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 200px;
  background-color: #e7555a;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

.personal-information__load-photo-lable:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px black;
}

.personal-information__input {
  color: black;
}

.personal-information__edit-btn {
  margin: 10px 0;
  height: 30px;
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: black;
}

.personal-information__edit-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px black;
}

.personal-information__save-btn {
  border: 1px solid white;
  transition: 0.3s;
}

.personal-information__save-btn:hover {
  border: 0;
  box-shadow: 0 0 10px white;
}

.personal-information__form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 15px;
  background-color: black;
  box-shadow: 0 0 10px black;
}

.personal-information__form-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}

.personal-information__input {
  outline: none;
  width: 330px;
  height: 25px;
  font-size: 17px;
}

.personal-information__text-area {
  outline: none;
  width: 330px;
  height: 25px;
  font-size: 17px;
  resize: none;
  color: black;
  height: 70px;
}

.personal-information__checbox {
  margin-left: -85px;
} */