.dialog__input {
    resize: none;
    padding: 15px;
    font-size: 19px;
    outline: none;
    background-color: black;
    border: 0;
    color: white;
    height: 150px;
    width: 73%;
    margin: 20px 0 0;
    box-sizing: border-box;
}

.btn__new-message {
    display: block;
    background-color: black;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    width: 73%;
    height: 40px;
}

.btn__new-message:hover {
    box-shadow: 0 0 10px black;
}

.btn__new-message:active {
    box-shadow: 0 0 10px #20d419;
    background-color: #20d419;
}